/* main font */
* {
    font-family: "DM Sans", sans-serif;
    text-align: center;
}

body {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 0;
}

p {
    margin: 0;
    font-size: 16pt;
    line-height: 2.5;
}

.main {
    /* max-width: 1080px; */
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
}

#main-image {
    min-height: scale-down;
    max-height: max-content;
    max-width: 50%;
    object-fit: fill;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 24pt;
}

/* Navbar */
.topnav {
    /* position: fixed; */
    top: 0;
    display: flex;
    justify-content: flex-end;
    font-family: "DM Sans", sans-serif;
    background-color: #9AB87A50;
    padding: 12pt;
    overflow: hidden;
}

/* anchor links in navbar */
.topnav a {
    float: right;
    color: black;
    text-align: center;
    border: 2pt solid transparent;
    padding: 6pt 12pt;
    font-size: 16pt;
    text-decoration: none;
    margin: 0pt 3pt;
}

.topnav a:hover {
    border: 2pt solid #444B6E;
    border-radius: 6pt;
    transition-duration: 0.4s;
}

.topnav a.active {
    /* background-color: #c2c1a5; */
    background-color: #444B6E;
    border: 2pt solid #444B6E;
    border-radius: 6pt;
    color: white;
}

/* flexbox 1 */
.box1 {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    min-height: 36ch;
    padding: 24pt;
}

/* box1 h1 */
.box1 h1 {
    margin: 0;
    padding-bottom: 24pt;
    color: #444B6E;
    font-weight: bolder;
    font-family: "DM Serif Display", serif;
    font-size: 60pt;
}

/* box1 h2 */
.box1 h2 {
    margin: auto;
    padding-bottom: 24pt;
    color: #444B6E;
    font-size: 32pt;
    font-family: "DM Serif Display", serif;
}

.box1 h3 {
    margin: auto;
    color: #444b6e;
    font-size: 20pt;
    font-family: "DM Serif Display", serif;
}

/* flexbox 2 */
.box2 {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    background-color: #9AB87A50;
    padding: 24pt;
    min-height: 36ch;
}

.box2 h2 {
    margin: auto;
    margin-bottom: 24pt;
    padding: 0;
    color: #495B4C;
    font-size: 32pt;
    font-family: "DM Serif Display";
}

.box2 h3 {
    margin: auto;
    color: #495b4c;
    font-size: 20pt;
    font-family: "DM Serif Display", serif;
}

/* flexbox 3 */
.box3 {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    background-color: #3D315B50;
    padding: 24pt;
    min-height: 36ch;
}

.box3 h2 {
    margin: 0;
    margin-bottom: 24pt;
    padding: 0;
    color: #3D315B;
    font-size: 32pt;
    font-family: "DM Serif Display";
}

.box3 h3 {
    margin: auto;
    color: #3D315B;
    font-size: 20pt;
    font-family: "DM Serif Display", serif;
}

/* hbox */
.hbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.hbox + div {
    margin-right: 16pt;
    margin-left: 16pt;
}

/* large button */
.large-button {
    padding: 6pt 36pt;
    border: 2pt solid #444B6E;
    border-radius: 6pt;
    color: black;
    text-align: center;
    text-decoration: none;
    max-width: max-content;
    margin-top: 24pt;
    margin-left: auto;
    margin-right: auto;

}

.large-button:hover {
    background-color: #444B6E;
    color: white;
    transition-duration: 0.4s;
}

.content-box1 {
    display: flex;
    flex-direction: column;
    max-width: 100ch;
    margin: auto;
    
}

.content-box1 h3 {
    padding-bottom: 12pt;
}

footer {
    background: #444b6e;
    color: white;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    padding: 12pt;
    overflow: hidden;
    margin-top: auto;
}

footer h3 {
    font-size: 16pt;
    font-family: "DM Serif Display", serif;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer div {
    display: flex;
    justify-content: space-around;
    font-family: "DM Sans", sans-serif;
    padding: 12pt;
    overflow: hidden;
}

/* content box with image background */
.img-box {
    background: url("./assets/poppy2.jpeg") 50% no-repeat;
    background-size: cover;
    min-height: 50ch;
    max-width: 100%;
    padding: 24pt;
    margin: auto;
}

.img-box .content-box1 {
    position: relative;
    background-color: #ffffff99;
    padding: 24pt;
    border-radius: 24pt;
    margin: 24pt;
    max-width: 50ch;
}

.img-box .content-box1 h1 {
    margin: 0;
    padding-bottom: 24pt;
    color: #444B6E;
    font-weight: bolder;
    font-family: "DM Serif Display", serif;
    font-size: 60pt;
}

/* small screens */
@media all and (max-width: 500px) {
    img {
        display: none;
    }

    .topnav {
        flex-direction: column;

    }

    .hbox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

/* medium screens */
@media all and (max-width: 800px) {
    body {
        text-align: center;
    }

    .large-button {
        margin-left: auto;
        margin-right: auto;
    }

    .topnav {
        justify-content: space-around;
    }

}

